Package: com.mc.
Priority: optional
Name: 
Version: 
Section: 
Architecture: iphoneos-arm
Depends:
Pre-Depends: dpkg
Provides:
Maintainer: Unfriendly <34170230+note@unfriendly.com>
Homepage:
Tag:
Description: Unfriendly | Compiled for ARM64.
